<div class="container mt-5 d-flex justify-content-center">
  <img src="assets/img/logo.png" width="340" height="120">
</div>
<div class="container p-5 border mt-5" style="background-color: white">
  <p class="mb-0">Username:</p>
  <input type="text" class="form-control mb-3" placeholder="Username" aria-label="Username" [(ngModel)]="data.username">
  <p class="mb-0">Password:</p>
  <input type="password" class="form-control mb-3" placeholder="Password" aria-label="Password" [(ngModel)]="data.password">
  <button class="btn btn-primary" (click)="login()">Login</button>
</div>
