<div class="container">
  <div class="justify-content-center d-flex h-100">
    <div class="login-card">
      <div class="justify-content-center d-flex">
        <img id="logo" src="assets/logo-white.png">
      </div>
      <br>
      <div class="justify-content-center d-flex">
        <h4 id="title">Sign in to your UoD research account</h4>
      </div>
      <div class="form-group input-group mt-3 mb-4">
        <div class="input-img">
          <span class="input-group-text mr-1"><i class="fas fa-user"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" [(ngModel)]="data.username">
      </div>
      <div class="form-group input-group form-group mt-4 mb-4">
        <div class="input-img">
          <span class="input-group-text mr-1"><i class="fas fa-key"></i></span>
        </div>
        <input type="password" class="form-control" placeholder="Password" aria-label="Password" [(ngModel)]="data.password">
      </div>
      <p class="text-danger" *ngIf="errorText | async">{{errorText | async}}</p>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn-lg login-button mt-3" (click)="login()" routerLink="/experiments">Login</button>
      </div>
    </div>
  </div>
</div>
