<nav id="nav" class="navbar navbar-expand-lg" *ngIf="isLoggedIn()">
  <div class="container">
    <a class="navbar-brand" href="#"><img id="logo" src="assets/logo-shield.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <a id="menu">Menu</a>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <a class=" nav-item nav-link" href="/experiments">Experiments</a>
        <a class="nav-item nav-link" href="/">Analyse data</a>
        <a id="signout" class="nav-item nav-link" (click)="logout()">Sign out</a>
      </div>
    </div>
  </div>
</nav>

