<!-- <ng-template #multiQuestion> -->
  <form>
    <div class="form-group row">
      <h5 class="m-0">Add a Multiple Choice Question</h5>
      <div class="col-md-10">
        <div class="form-group row">
          <input type="text" class="form-control" placeholder="Option 1" [(ngModel)]="data.answers[0]" name="Option 1">
        </div>
        <div class="form-group row">
          <input type="text" class="form-control" placeholder="Option 2" [(ngModel)]="data.answers[1]" name="Option 2">
        </div>
        <div class="form-group row">
          <input type="text" class="form-control" placeholder="Option 3" [(ngModel)]="data.answers[2]" name="Option 3">
        </div>
        <div class="form-group row">
          <input type="text" class="form-control" placeholder="Option 4" [(ngModel)]="data.answers[3]" name="Option 4">
        </div>
      </div>
      <div class="form-group row">
        <button class="btn blue-button mt-2" (click)="addMultiOptions()">Finish</button>
      </div>
    </div>
  </form>
<!-- </ng-template> -->
