<!-- <ng-template #scaleQuestion> -->
<form>
  <div class="form-group mt-3">
    <h5>Choose the scale</h5>
    <div class="col-md-10 p-0">
      <div class="btn-group mt-3" role="group" aria-label="numbers">
        <!-- Should display an array of buttons. clicking a button should change the number we're modifying -->
        <button *ngFor="let number of numberArray; index as i;" [ngClass]="selectedScale === number ? 'active' : ''" type="button" class="btn blue-button" (click)="chooseScale(number)">{{number}}</button>
      </div>
    </div>
      <!-- set the currently selected number from the buttons as systemUsabilityScale from questionDetails component -->
  </div>
</form>
<!-- </ng-template> -->
