<div id="top-gray-box" class="text-center">
  <!--  insert questionnaire title here-->
  <h2>Questionnaire title</h2>
</div>
<div id="overlap-box" class="container border p-5">
  <h4> Description</h4>
  <!--  insert description here -->
  <p>Description goes here</p>
  <br>
  <!-- author goes here-->
  <p>Author</p>
  <!--  email goes here-->
  <p>Email</p>
  <br>
  <!--  consent part goes here-->
  <p>*I have read...</p>
  <form class="p-2 bg-white border">
    <div class="custom-control pl-5 custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="customCheck1">
      <label class="custom-control-label pl-2" for="customCheck1">I agree with a statement above.</label>
    </div>
  </form>
  <br>
  <hr>
  <div class="d-flex justify-content-end">
    <button type="button" class="btn blue-button mt-5">Finish questionnaire</button>
  </div>
</div>
